{% extends "main/base.html" %}

{% block content %}

<div class="container py-9 ">

<div class="card">
  <div class="card-header">

  </div>
  <div class="card-body text-center">
    <h5 class="card-title">Find your employee</h5>
    
    <form method="GET">
      
      <select name="jobcategory" class="form-select form-select-sm" aria-label=".form-select-sm example">
        <option  value=""  selected >Select job area</option>
        {% for item in categories %}
        <option value="{{item.pk}}">{{item.category_name}}</option>
        {% endfor %}
      </select>



    <small><h6 class="text-muted py-6">(search for profession, position, job title or description)</h6></small>
    <div class="input-group py-6">
        <input  name="search"type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
        <button type="submit" class="btn btn-outline-primary" data-mdb-ripple-init>search</button>
    </div>
    </form>

    <a href="javascript:history.go(-1)"  class="btn btn-success btn-sm">
   <i class="fa-solid fa-left-long"></i> 
   
   </a>
  </div>
</div>

{% if search_result %}

{% for result in search_result%}
<section class="w-100 px-4 py-9 mt-9 bg-light" style="border-radius: .5rem .5rem 0 0;">
  <div class="row d-flex justify-content-center">
    <div class="col col-md-9 col-lg-7 col-xl-6">
      <div class="card" style="border-radius: 15px;">
        <div class="card-body p-4">
          <div class="d-flex">
            <div class="flex-shrink-0">
              <img src="{{result.employeeprofile.imageURL}}"
                alt="avatar" class="img-fluid" style="width: 180px; border-radius: 10px;">
            </div>
            <div class="flex-grow-1 ms-3">
              <h5 class="mb-1">{{result.first_name}}-{{result.last_name}}</h5>
              <p class="mb-2 pb-1">Sector: <i>{% if result.employeeprofile.sector %}{{result.employeeprofile.sector}}{% else%} not given {% endif %}</i></p>
              <p class="mb-2 pb-1">{{result.employeeprofile.profession}}</p>
              <p><i>Birth date: <small>{{result.employeeprofile.birth_date}}</small></i></p>
              <p><i>Address: <small>{{result.employeeprofile.address}}</small></i></p>
              <p><i>Email: <small>{{result.email}}</small></i></p>
              <p><i>Phone: <small>{{result.employeeprofile.phone_number}}</small></i></p>
              <p><i>Bio: <small>{{result.employeeprofile.bio|truncatechars:200}}</small></p>
              <div class="d-flex pt-1">          
                <a href="{% url 'see_profile' result.employeeprofile.pk %}" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary flex-grow-1">See profile</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endfor%}

        {% if search_result.has_other_pages %}

          <nav aria-label="Page navigation example">
                <ul class="pagination py-9">
                  {% if search_result.has_previous %}
                  <li class="page-item"><a class="page-link" href="?page={{ search_result.previous_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}{% if request.GET.jobcategory %}&jobcategory={{request.GET.jobcategory}}{% endif %}">Previous</a></li>
                  {% endif%}

                  {% for num  in search_result.paginator.page_range %}
                  {% if tickets.number == num %}
                  <li class="page-item"><a class="page-link" href="">{{num}}</a></li>
                  {% else %}
                  <li class="page-item"><a class="page-link" href="?page={{ num }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}{% if request.GET.jobcategory %}&jobcategory={{request.GET.jobcategory}}{% endif %}">{{num}}</a></li>
                  {% endif %}
                  {% endfor %}
                  {% if search_result.has_next %}
                  <li class="page-item"><a class="page-link" href="?page={{ search_result.next_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}{% if request.GET.jobcategory %}&jobcategory={{request.GET.jobcategory}}{% endif %}">Next</a></li>
                  {% endif %}
                </ul>
          </nav>
        {% endif %}

{% endif %}
</div>











{% endblock content %}
