{% if page_name == "signup_employee" %}
<h6 class="text-center py-8 text-sm">Register your account as employee</h6>
{% elif page_name == "signup_employer"%}
<h6 class="text-center py-8 ">Register your account as employer</h6>
{% elif page_name == "update_study" %}
<h6 class="text-center py-8 ">Update your school information</h6>
{% elif page_name == "add_study" %}
<h6 class="text-center py-8 ">Add new school information</h6>
{% elif page_name == "login" %}
<h6 class="text-center py-8 ">Login to your account</h6>
{% elif page_name == "add_job" %}
<h6 class="text-center py-8 ">Add new job</h6> 
{% elif page_name == "reply_message" %}
<h6 class="text-center py-8 ">Reply Message</h6>
{% elif page_name == "change_password" %}
<h6 class="text-center py-8 ">Change Password</h6>
{% elif page_name == "update_message" %}
<h6 class="text-center py-8 ">Update Message</h6>


{% endif %}