{% extends "main/base.html" %}

{% block content %}

<div class="container py-9 mt-8 bg-light border border-solid border-2 border-primary  ">
<h6 class="text-center py-8 text-sm">My reviews ({{reviews_count}})</h6>


{% for review in reviews %}

<div class="card mx-1 my-1 border border-solid border-2 border-primary ">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link" aria-current="true" href="{% url 'modify_review' review.pk %}">
        <i class="fa-solid fa-wrench"></i> 
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-danger"  data-bs-toggle="modal" data-bs-target="#deletemodal-{{review.pk}}" href="#">
        <i class="fa-solid fa-trash-can"></i>
        </a>
      </li>
    </ul>
  </div>
  <div class="card-body text-center">
    <h5 class="card-title">{{review.employer.company_name}}</h5>
    <p class="card-text">
      {{review.review}}
    </p>
    <p class="card-text">
      <small>{{review.review_date}}</small>
    </p>
  </div>
</div>


<div class="modal fade" tabindex="-1" id="deletemodal-{{review.pk}}" aria-labelledby="deletemodal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Do you want to delete this review: </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{review.employer.company_name}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-bs-dismiss="modal">No</button>
        <form method="POST" action={% url 'delete_review' review.pk  %}>
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">delete</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endfor %}



<nav aria-label="Page navigation example">
        <ul class="pagination pagination-sm mt-6">
            {% if reviews.has_previous %}
            <li class="page-item"><a class="page-link bg-dark text-white ms-2" href="?page={{reviews.previous_page_number}}">Previous</a></li>
            {% endif%}
            {% for page  in reviews.paginator.page_range %}
            <li class="page-item"><a class="page-link bg-dark text-white ms-2" href="?page={{page}}">{{page}}</a></li>
            {% endfor %}
            {% if reviews.has_next %}
            <li class="page-item"><a class="page-link bg-dark text-white ms-2" href="?page={{reviews.next_page_number}}">Next</a></li>
            {% endif %}
        </ul>
    </nav>


</div>



{% endblock content %}